<div class="about-page">
    <h2 class="about-heading">About Us</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbSY3os8CIVfio4hTK-TdE87zaPMrdX7idYQ&usqp=CAU" alt="About Image" class="about-image">
    <!-- <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC9vTetSB0r9FCM9E0Wsc_jGaqrHL-LERPyQ&usqp=CAU" class="about-link">If you have any queries just ping us ...</a> -->
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Roll Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>M.BALA RANGARAO</td>
        <td>21471A0505</td>
        <td>balunani25@gmail.com</td>
      </tr>
      <tr>
      <td>M.GOPI MANIKANTA</td>
      <td>21471A0534</td>
      <td>gopimanikanta@gmail.com</td>
     </tr>
     <tr>
        <td>SK. Khaja mohiddin</td>
        <td>21471A0554</td>
        <td>kaja@gmail.com</td>
       </tr>
       <tr>
        <td>V.Srinivas</td>
        <td>21471A0566</td>
        <td>srinivas2004@gmail.com</td>
       </tr>
       <tr>
        <td>N.Gopi krishna</td>
        <td>21471A0539</td>
        <td>ngk@gmail.com</td>
       </tr>
       <tr>
        <td>B. Charan Deepak</td>
        <td>21471A0508</td>
        <td>deepak746@gmail.com</td>
       </tr>
       <tr>
        <td>R.Gangadhar</td>
        <td>21471A0521</td>
        <td>ganga@gmail.com</td>
       </tr>
       <tr>
        <td>P. Sai teja</td>
        <td>21471A0548</td>
        <td>model@gmail.com</td>
       </tr>
       <tr>
        <td>CH. Ravi sharank</td>
        <td>21471A0515</td>
        <td>challa@gmail.com</td>
       </tr>
       

    </tbody>
  </table>
  